* {
  padding: 0px;
  margin: 0px;
}
p {
  margin: 1em 0;
}
ul {
  list-style-type: none;
}
body {
  padding: 0px;
  margin: 0px;
}
#header {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
  height: 36px;
  width: 100%;
  color: #ccc;
  border-bottom: 4px solid #ccc;
}
h1 {
  font-size: 18px;
  line-height: 36px;
  clear: both;
}  
#tickets .dragging,
#tickets .dragging td {
  background-color: #ffffdd !important;
}
#tickets .ticket {
  cursor: move;
}
#schedule {
  margin-top: 1em;
  width: auto !important;
}
#schedule td {
  text-align: center;
  width: 50px;
}
#schedule .inline-edit {
  width: 60px;
}  

#main form:not(#filter) { 
  position: relative;
  width: 80%;
}
form:not(#filter) fieldset { 
  padding: 0.5em 0;
  position: relative;
  text-align: left; 
  border: 0px;
  border-bottom: 1px solid #ddd;
  width: 99%;
}
form:not(#filter) legend { 
  position: relative;
  color: #666; 
  margin-left: 10px;
  padding-top: 1em;
}
form:not(#filter) label { 
  position: absolute; 
  width: 12%; 
  padding-top: 1px;
  text-align: right; 
  color: #666; 
}
form:not(#filter) input[type=text], 
form:not(#filter) select, 
form:not(#filter) textarea {
  border: 1px solid #ddd;
  font-size: 1em;
}
form:not(#filter) input[type=text], 
form:not(#filter) textarea {
  padding: 2px 5px;
}
form:not(#filter) select {
  padding: 2px;
}
form:not(#filter) .small input, 
form:not(#filter) .small select {
  width: 100px;
}
form:not(#filter) .medium input, 
form:not(#filter) .medium select {
  width: 200px;
}
form:not(#filter) .big label {
  padding-top: 5px;
}
form:not(#filter) .big input {
  font-size: 1.5em;
  padding: 3px 5px;
  width: 84%;
}
.buttons input, 
form:not(#filter) input, 
form:not(#filter) textarea, 
form:not(#filter) select { 
  margin-left: 15%; 
}
form:not(#filter) label.check, label.radio { 
  position: relative; 
  text-align: left; 
}  
form:not(#filter) textarea.small {
  height: 100px;
}

#main .inline-select {
  position: absolute !important;
}
#main .inline-select select {
  margin-left: 0px;
  border: auto;
  font-size: 11px;
}
/*#tickets .inline-edit {
  width: 100%;
}*/
#main .inline-edit {
  position: relative !important;
	width: 125% !important;
	margin-right: -20px;
}
#main .inline-edit input {
  width: 100% !important;
  border: 0px;
  font-size: 13px;
  margin-left: -8px;
  padding-top: 1px;
  padding-left: 7px;
}
#flash {
	z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 36px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: auto;
  color: #555;
  border-bottom: 4px solid #ccc;
}
#flash.notice {
  background-color: #3f5;
}
#flash.error {
  background-color: #f60;
}
#flash p {
  padding: 10px;
  margin: 0px;
}
#main {
  margin-top: 36px;
  width: 74%;
  padding: 10px;
  background-color: white;
}
#sidebar {      
  position: absolute;
  right: 0px;
  width: 23%;
  padding: 7px 0px 0px 10px;
  background-color: #eee;
  min-height: 94%;
}
#sidebar h4 {
  margin-bottom: 1em;
}
#footer {
	clear: both;
  padding: 10px;
  width: 74%;
	text-align: right;
	font-size: 11px;
	color: #999;
}
#footer a {
	color: #999;
}

a, a:visited { 
  color: #009; 
  text-decoration: none;
}
a:hover { 
  color: #fff; 
  background-color:#000; 
}
.state-hold, .state-hold a {
  color: #cc6;
  text-decoration: none;
}
.state-resolved, .state-resolved a,
.state-invalid, .state-invalid a {
  color: #aaa;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
tr, td {
  vertical-align: top;
}

#header form {
	position: absolute;
	top: 9px;
	right: 10px;
}
#header select {
  margin: 0;
}

#main #breadcrumbs {
  float: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#main #action {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#main table {
  clear: both;
  width: 100%;
}
#main tr, #main td {
  border: 1px solid #ddd;
}
#main th {
  padding: 2px 5px;
  font-weight: normal;
  font-size: 11px;
	font-style: italic;
  border: 1px solid #ddd;
	white-space: nowrap;
}
#main thead th {
  background-color: #eee;
}
#main tbody th {
	font-style: normal;
	font-size: 11px;
	color: #666;
	background-color: white;
	text-align: left;
}
#main td {
  padding: 2px 10px;
}
#main td.activity-toggle {
	width: 16px;
}
#main td.remote-url {
	width: 20px;
}
#main td.ticket {
	width: 100%;
}
#main td.estimated,
#main td.actual {
  background-color: #f9f9f9;
}
#main tr.empty td {
	font-size: 11px;
}
#main tr.totals th {
	font-style: italic;
	text-align: right;
}
#main tr.totals td {
	font-style: italic;
	font-size: 11px;
	color: #666;
}
#main tfoot th {
	text-align: left;
	font-style: italic;
}
#main tfoot td {
	font-style: italic;
}
#activities {
  font-size: 11px;
  margin: 10px;
}
#activities li li {
  margin-bottom: 1em;
}
#activities li.stopped,
#activities li.stopped a {
  color: #999;
}
#activities p {
  margin: 0px;
}  
#activities p.info {
  font-size: 11px;
}
#schedule tbody th {
	text-align: right;
}
#schedule tr.total th,
#schedule tr.total td {
	background-color: #f6f6e6;
	font-size: 11px;
	font-style: italic;
}
.toggle {
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	overflow: hidden;
	text-indent: -200%;
}
.start {
	background: url(/images/icons/control_play.png);
}
.stop {
	background: url(/images/icons/control_stop_blue.png);
}





