<h1>Releases</h1>

<p>
  <%= link_to 'new release', new_project_release_path(@project) %>
</p>

<ul>
  <% @project.releases.each do |release| %>
    <li><%= link_to h(release.name), release %></li>
  <% end %>
</ul>

