<%= image_tag burndown.gchart.to_url, :style => "margin-top: 2em" %>

<table style="margin-top: 2em">
  <thead>
    <tr>
      <th></th>
      <th>estimated</th>
      <th>actual</th>
      <th>remaining</th>
    </tr>
  </thead>
  <tbody>
  <% burndown.rows.each do |row| %>
    <tr>
      <td><%= row.day.strftime('%a, %d.%m.') %></td>
      <%= row.values.map{|value| "<td>#{value}</td>"} %>
    </tr>
  <% end %>
  </tbody>
</table>